<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>일일소비| 정글 거지방</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">


  <!-- JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
  crossorigin="anonymous"></script>

<!-- ajax -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <style>
    .box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
      padding: 1rem;
    }
    .button.is-light:hover {
      background-color: #b5b5b5;
    }
    .button.is-danger {
      background-color: #f14668;
    }
    .button.is-success {
      background-color: #48c774;
    }
    .button.is-info {
      background-color: #209cee;
      color: white;
    }
    .control {
      padding:0 4px;
    }
    .is-size-2 {
      padding: 20px 0;
    }
</style>
<script>
        //숫자만 받아오게 하는 정규식
        var regex = /[^0-9]/g;
    
        $(document).ready(function(){
            $("#box-list").html("");
            showCostList();
        })

        function changeEditMode(num){
            $("#shownBox"+num.toString()).hide();
            $("#editBox"+num.toString()).show();
        }

        function saveMemo(){
            $("#edit-card").hide();
            $("#display-card").show();
        }

        function postBox(){
            let postDate = '{{date}}'
            let category = $("#post-add-category").val();
            let cost = $("#post-add-cost").val();

            $.ajax({
                type:"POST",
                url:"/dailySpendingBox",
                data:{post_costDate:postDate,post_category:category,post_cost:cost},
                success:function(response){
                    if(response["result"] == "success"){
                        window.location.reload();
                    }
                }
            })
        }

        function showCostList(){
            $.ajax({
                type: "GET",
                url:"/dailySpendingBox?costDate={{date}}",
                data:{},
                success:function(response){
                    let costList = response["costList"];
                    for(let i=0;i<costList.length;i++){
                        makeBox(costList[i]["_id"],costList[i]["category"],costList[i]["cost"],i)
                    }
                }
            })
        }

        function makeBox(id,thing, cost,num) {
          let temp_html = `
          <div id=shownBox${num} class="box shown-box">
            <div>
                <span id="deleteCategory${num}">${thing}</span>
                <span>:</span>
                <span id="deleteCost${num}">${cost}원</span>
            </div>
       
              <div>
                <button id="deleteBtn${num}" class="button is-danger" onclick="deleteBox('${id}','${thing}',${cost},${num})">삭제</button>
                <button id="editBtn${num}" class="button is-success" onclick="changeEditMode(${num})">수정</button>
              </div>
          </div>

            <!-- 눈에 안보이는 박스 -->
            <div id=editBox${num} class="box edit-box" style="display:none">
              <div class="field has-addons">
                <p class="control">
                  <input id="editCategory${num}" class="input" type="text" value="">
                </p>
                <p> : </p>
                <p class="control">
                  <input id="editCost${num}" class="input" type="text" value="">
                </p>
                <p class="control">
                  <span>원</span>
                </p>
              </div>
              
              <div>
                <button class="button is-warning" onclick="editBox('${id}','${thing}',${cost},${num})">저장</button>
              </div>
            </div>`;
          $("#box-list").append(temp_html);

        }

        function deleteBox(id,thing,cost,num){
            let ID = id
            let deleteDate = '{{date}}'
            //정규식을 통해 숫자 외에는 공백으로 만듬
            let category = $("#deleteCategory"+num.toString()).text();
            let deleteCost = $("#deleteCost"+num.toString()).text().replace(regex,"");

            $.ajax({
                type:"POST",
                url:"/dailySpendingBoxDelete",
                data:{delete_ID:ID},
                success:function(response){
                    if(response["result"] == "success"){
                        window.location.reload();
                    }
                }
            })
        }

        function editBox(id,thing,cost,num){
          let ID = id
            //정규식을 통해 숫자 외에는 공백으로 만듬
            let category = $("#editCategory"+num.toString()).val();
            let editCost = $("#editCost"+num.toString()).val();

            $.ajax({
                type:"POST",
                url:"/dailySpendingBoxEdit",
                data:{edit_ID:ID,edit_category:category,edit_cost:editCost},
                success:function(response){
                    if(response["result"] == "success"){
                        window.location.reload();
                    }
                }
            })

        }
    </script>

</head>

<body>

</head>
<body>
  <section class="section">
    <div class="container">
      <div class="field">
        <div class="control">
          <button onClick="location.href='/myPage'" class="button is-light">돌아가기</button>
        </div>
      </div>

      <div>
        <h1 class="is-size-2">{{month}}월 {{day}}일</h1>
      </div>

      <!-- 붙을내용 -->

       <!-- 눈에 보이는 박스   -->
        <div id="box-list"class="box-container">
          {% for member in costMember %}
          <div class="box shown-box">
            <div>
                <span>{{ member.category }}</span>
                <span>:</span>
                <span>{{ member.cost }}원</span>
            </div>
       
              <div>
                <button id="deleteBtn" class="button is-danger" onclick="deleteBox('{{ member.category }}','{{member.cost}}')">삭제</button>
                <button id="editBtn" class="button is-success" onclick="editData(this)">수정</button>
              </div>
          </div>
          {% endfor %}
    
          <!-- 눈에 안보이는 박스 -->
          <div class="box edit-box" style="display:none">
            <div class="field has-addons">
              <p class="control">
                <input id="post-edit-title" class="input" type="text" value="">
              </p>
              <p> : </p>
              <p class="control">
                <input id="post-edit-cost" class="input" type="text" value="">
              </p>
              <p class="control">
                <span>원</span>
              </p>
            </div>
            
            <div>
              <button id="saveBtn" class="button is-warning" onclick="saveData(this)">저장</button>
            </div>
          </div>
        </div>
        <div id="add-box" class="box">
          <div class="field has-addons">
            <p class="control">
              <input id="post-add-category" class="input" type="text" placeholder="항목">
            </p>
            <p> : </p>
            <p class="control">
              <input id="post-add-cost" class="input" type="text" placeholder="금액">
            </p>
            <p class="control">
              <span>원</span>
            </p>
          </div>
          <button id="addBtn" class="button is-info" onclick="postBox()">추가</button>
        </div>
    </div>
  </section>
</body>
</html>
