<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form Layout</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script>
    function registerMember()
    {
      $.ajax({
          type:"POST",
          url:"/register",
          data:{
            userId_give:$("#id").val(),
            userPw_give:$("#password").val(),
            userName_give:$("#name").val(),
          },
          success:function(response){
            if(response["result"] == "success"){
                        alert("가입 성공!");
                        location.href = "/";
                    }
                    else{
                        alert("서버 오류!")
                    }
            
          }
      })
    }

    function doubleCheck()
    {
      $.ajax({
          type:"POST",
          url:"/doubleCheck",
          data:{
            userID:$("#id").val(),
          },
          success:function(response){
            if(response["result"] != "success"){
              alert("다른 아이디를 사용해주세요")
                    }
            
          }
      })
    }
  </script>
  <style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }
      
      section {
        width: 640px;
        height: 514px;
      }
  </style>

</head>

<body>
  <section class="section">
    <div class="container">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="name">이름:</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" type="text" id="name">
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="id">ID:</label>
        </div>
        <div class="field-body">
          <div class="field has-addons">
            <div class="control is-expanded">
              <input class="input" type="text" id="id">
            </div>
            <div class="control">
              <button onclick="doubleCheck()"class="button is-info">중복확인</button>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="password">PW:</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" type="password" id="password" >
            </div>
          </div>
        </div>
      </div>

      <div class="field is-grouped is-grouped-right">
        <div class="control">
          <button class="button is-light">취소</button>
        </div>
        <div class="control">
          <button onclick="registerMember()" class="button is-primary">회원가입</button>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
